.dragon-list {
  list-style-type: none;
  margin: 1.4rem;
  padding-top: 5rem;
}

.dragon-card {
  display: flex;
  gap: 3rem;
  margin-bottom: 2rem;
}

.dragon-card__image {
  width: 15rem;
  height: 11rem;
}

.dragon-card__image img {
  display: block;
  width: 100%;
  height: 100%;
}

.badge {
  background: var(--color-primary);
  color: var(--font-color-1);
  border-radius: 4px;
  padding: 0.5rem;
  display: block;
  max-width: 10rem;
}
