@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rocketList {
  padding-top: 5rem;
}

.rocket-card {
  display: flex;
  width: 96%;
  padding: 1.6rem 1.4rem;
}

.rocket-card__image {
  width: 15rem;
  height: 11rem;
}

.rocket-card__content {
  margin-left: 5%;
}

.rocket-card__content--paragraph {
  width: 90%;
  line-height: 2rem;
  margin-top: 1rem;
}

.badge {
  background: var(--color-primary);
  color: var(--font-color-1);
  border-radius: 4px;
  padding: 0.5rem;
  margin-right: 5px;
}
