.profile {
  display: flex;
  height: 120vh;
  margin: 1rem 1rem 0 1rem;
  padding: 5rem;
}

.box {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 2rem;
}

.profile h2 {
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: normal;
}

.profile .title-entry {
  border: 1px solid var(--font-color-2);
  padding: 2.5rem 3.5rem;
  font-size: 1.3rem;
}

.profile .alert {
  border: 1px solid var(--font-color-2);
  padding: 2.5rem 3.5rem;
  font-size: 1.3rem;
  color: var(--font-color-2);
}

@media (max-width: 768px) {
  .profile {
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
}
