.table {
  margin: 5rem 0;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 0.5rem;
}


.missionReserved {
  text-align: center;
  word-spacing: -2px;
  color: var(--font-color-1);
  background-color: var(--color-primary);
  padding: 1rem;
}

.notReserved {
  padding: 1rem;
  text-align: center;
  word-spacing: -2px;
  color: var(--font-color-1);
  background-color: var(--color-bg-secondary);
}

.leave {
  border: 1px solid var(--font-color-1);
  text-shadow: 0.1rem 0.1rem 1.4rem var(--font-color-1);
  box-shadow: 0.1rem 0.1rem 1.6rem var(--font-color-1);
  border-radius: 2rem;
  cursor: pointer;
  background-color: transparent;
  color: var(--font-color-1);
  padding: 1rem 1.5rem;
  font-family: 'Voyager-Bold', sans-serif;
}

.join {
  border: 1px solid var(--font-color-2);
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  background-color: transparent;
  color: var(--font-color-2);
  font-family: 'Voyager-Bold', sans-serif;
  cursor: pointer;
}

.badge {
  width: 14%;
}
